.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    .hero-left {
        background: $gradient;
        .hero-text {
            color: $white;
            padding: 10em 5em;
        }
        .headings {
            padding-bottom: 2em;
        }
        .sub-heading {
            font-size: 22px;
            color: $lime;
            padding-bottom: 1em;
        }
        p {
            font-size: 22px;
            padding: 1em 0;
        }
        h2 {
            font-size: 50px;
        }
        .hero-cta {
            color: $white;
            text-decoration: none;
            border-radius: 40px;
            padding: 10px 40px;
            border: 1px solid $white;
            margin-top: 1em;
        }
    }

    .metaslider {
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    .rslides_arrows {
        display: none;
    }

    .metaslider.ms-theme-jenga ul.rslides_tabs li a {
        border: 2px solid $lime;
        background: transparent;
        margin-top: 10px;
    }
}