.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    .hero-left {
        background: $gradient;
        .hero-text {
            color: $white;
        }
        .sub-heading {
            font-size: 22px;
            color: $lime;
        }
        h2 {
            font-size: 50px;
        }
        .hero-cta {
            color: $white;
            text-decoration: none;
        }
    }
    .hero-right {

    }
}